
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</head>
<body>

<div class="container">
    <div><a href="{% url "index" %}" class="btn btn-primary">Add Admin</a></div>
  <h2>Admin List</h2>

        
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Email</th>
        <th>Password</th>
        <th>Language</th>
        <th>Gender</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
    
        {% for row in all_admin %}
          

      <tr>
        <td>{{ row.id  }}</td>
        <td>{{  row.name }}</td>
        <td>{{ row.email }}</td>
        <td>{{ row.password }}</td>
        <td>{{ row.language }}</td>
        <td>{{ row.gender }}</td>
        <td><a href="{% url "updateData" row.id%}" class="btn btn-success">Edit</a>
            {% comment %} <a href="{% url "deleteData" row.id %}" class="btn btn-danger">Delete</a> {% endcomment %}
            <button onclick="deleteData({{row.id}})">Delete</button>
          </td>
      </tr>
      {% endfor %}
     
    </tbody>
  </table>
</div>

</body>
<script>
  function deleteData(id){
   
    Swal.fire({
      title: "Are you sure?",
      text: "You won't be able to revert this!",
      icon: "warning",
      showCancelButton: true,
      confirmButtonColor: "#3085d6",
      cancelButtonColor: "#d33",
      confirmButtonText: "Yes, delete it!"
    }).then((result) => {
      if (result.isConfirmed) {
        window.location.href = "/deleteData/"+id;
      }
    });
  }
</script>
</html>
